<!-- Welcome User -->
<div class="balance-card-finanglobal text-light mb-4">
  <div class="row align-items-center">
    <div class="col-md-8">
      <h3 class="mb-2">¡Bienvenido de nuevo, {{ usuario()?.nombre }} {{ usuario()?.apellidos }}</h3>
      <!-- <p class="mb-3 opacity-75">Aquí está el resumen de tus finanzas del mes</p>
      <div class="row">
        <div class="col-6 col-md-4">
          <small class="d-block opacity-75">Saldo Total</small>
          <h4 class="mb-0">S/. 18,270.00</h4>
        </div>
        <div class="col-6 col-md-4">
          <small class="d-block opacity-75">Ingresos del Mes</small>
          <h5 class="mb-0">S/. 3,500.00</h5>
        </div>
      </div> -->
    </div>
    <div class="col-md-4 text-md-end mt-3 mt-md-0">
      <small class="d-block opacity-75 mb-2">Última actualización</small>
      <p class="mb-0">{{ datetimeNow() }}</p>
    </div>
  </div>
</div>
