.balance-card-finanglobal {
  background: linear-gradient(135deg, var(--danger-color), #870b0b);
  border-radius: 20px;
  padding: 2rem;
  box-shadow: 0 10px 30px rgba(59, 130, 246, 0.3);
}

@media (max-width: 768px) {
  .balance-card-finanglobal {
    margin-top: 1rem;
  }
}

@media (max-width: 576px) {
  .balance-card-finanglobal {
    margin-top: 1rem;
  }
}
